# Introduzione a Python3

## Aspetti Fondamentali

### I tipi di dati fondamentali

Come abbiamo visto in Python non abbiamo la presenza di un tipo di un delimitatore di fine istruzione a fine di ogni riga (;) 
inoltre il tipo di dato Ã¨ determinato in maniera automatica:

In [1]:
a = 1
type(a)

int

In [2]:
b = 'testo'
type(b)

str

In [3]:
c = 2.4
type(c)

float

In [4]:
d = 1/2
type(d)

float

In [5]:
e = False
type(e)

bool

### Le liste

abbiamo visto che le liste sono una collezioni di elementi eterogenei:

In [6]:
mylist_eterogenea = [1,'2',False]

All'atto pratico difficilmente risulta utile avere una lista contenente diversi tipi di dato, usualmente le liste contengono elementi dello stesso tipo

In [7]:
mylist =  [1,2,3,4,5,6,7,8,9,10]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Gli elementi all'interno delle liste sono accessibili attraverso l'operatore [] che permette di accedere al singolo elemento o a determinate parti della lista (operazione denominata $\textbf{slicing}$)

In [8]:
print(mylist[0])
type(mylist[0])

1

int

In [9]:
mylist[:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
mylist[::2]

[1, 3, 5, 7, 9]

In [11]:
mylist[3:5]

[4, 5]

Supponiamo ora di voler inserire il valore 11 alla 4 posizione della lista:

In [12]:
mylist.insert(3,11)

In [13]:
mylist

[1, 2, 3, 11, 4, 5, 6, 7, 8, 9, 10]

Supponiamo invece di voler rimuovere il valore 2 dalla lista

In [14]:
mylist.remove(2)

In [15]:
mylist

[1, 3, 11, 4, 5, 6, 7, 8, 9, 10]

Abbiamo visto che con l'operazione append aggiungiamo un valore in fondo alla lista mentre con l'operazione $\texttt{pop}$ 
eliminiamo l'ultimo elemento della lista. Aggiungiamo e togliamo il valore 20:

In [16]:
mylist.append(20)

In [17]:
mylist

[1, 3, 11, 4, 5, 6, 7, 8, 9, 10, 20]

In [18]:
mylist.pop()

20

In [19]:
mylist

[1, 3, 11, 4, 5, 6, 7, 8, 9, 10]

Le ultime due operazioni riguardano l'ordinamento e il merging di due liste.

Come esempio creiamo innanzitutto una lista utilizzando la list comprehension che abbiamo visto:

In [20]:
mylist2 = [i for i in range(20,40)]

In [21]:
mylist2

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

invertiamo ora la lista:

In [22]:
mylist2 = mylist2[::-1]

Copiamo la prima lista in una nuova lista, e poi estendiamola con la seconda:

In [23]:
mylist_totale = mylist.copy()

In [24]:
mylist_totale.extend(mylist2)

In [25]:
mylist

[1, 3, 11, 4, 5, 6, 7, 8, 9, 10]

In [26]:
mylist_totale

[1,
 3,
 11,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20]

Ora possiamo usare il metodo $\texttt{sort}$ per ordinarla:

In [28]:
mylist_totale.sort()

In [29]:
mylist_totale

[1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

### Le istruzioni condizionali

#### if/else

In [31]:
a = 3
b = 4

if a>b :
    print(a,">",b)
else:
    print(a,"<",b)

3 < 4

#### for

Il ciclo for Ã¨ utilizzato per ciclare su collezioni di dati:

In [32]:
for elemento in mylist_totale:
    print(elemento)

1
3
4
5
6
7
8
9
10
11
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

Possiamo fare una piccola modifica:

In [33]:
for index,element in enumerate(mylist_totale) :
    
    print("L'elemento",str(index)+"-esimo della lista Ã¨",element)

L'elemento 0-esimo della lista Ã¨ 1
L'elemento 1-esimo della lista Ã¨ 3
L'elemento 2-esimo della lista Ã¨ 4
L'elemento 3-esimo della lista Ã¨ 5
L'elemento 4-esimo della lista Ã¨ 6
L'elemento 5-esimo della lista Ã¨ 7
L'elemento 6-esimo della lista Ã¨ 8
L'elemento 7-esimo della lista Ã¨ 9
L'elemento 8-esimo della lista Ã¨ 10
L'elemento 9-esimo della lista Ã¨ 11
L'elemento 10-esimo della lista Ã¨ 20
L'elemento 11-esimo della lista Ã¨ 21
L'elemento 12-esimo della lista Ã¨ 22
L'elemento 13-esimo della lista Ã¨ 23
L'elemento 14-esimo della lista Ã¨ 24
L'elemento 15-esimo della lista Ã¨ 25
L'elemento 16-esimo della lista Ã¨ 26
L'elemento 17-esimo della lista Ã¨ 27
L'elemento 18-esimo della lista Ã¨ 28
L'elemento 19-esimo della lista Ã¨ 29
L'elemento 20-esimo della lista Ã¨ 30
L'elemento 21-esimo della lista Ã¨ 31
L'elemento 22-esimo della lista Ã¨ 32
L'elemento 23-esimo della lista Ã¨ 33
L'elemento 24-esimo della lista Ã¨ 34
L'elemento 25-esimo della lista Ã¨ 35
L'elemento 26-esimo della lista Ã¨ 36
L'elemento 27-esimo della lista Ã¨ 37
L'elemento 28-esimo della lista Ã¨ 38
L'elemento 29-esimo della lista Ã¨ 39

#### While

L'ultima istruzione condizionale che vediamo Ã¨ il while

In [36]:
a = 2

while a < 10:
    
    print(a)
    a += 1

2
3
4
5
6
7
8
9

### File I/O

Supponiamo di aver a disposizione i seguenti dati:

In [1]:
x = [n for n in range(10,20)]
y = [n for n in range(70,80)]
z = [n for n in range(90,100)]

In [6]:
with open('dati.csv','w') as outputfile:
    
    outputfile.write('x,y,z\n')
    for a,b,c in zip(x,y,z):
        
        outputfile.write(str(a)+','+str(b)+','+str(c)+'\n')

Proviamo ora a leggere il file appena creato:

In [7]:
with open('dati.csv','r') as inputfile:
    
    lines = inputfile.readlines()
    
    for line in lines:
        
        print(line)

x,y,z

10,70,90

11,71,91

12,72,92

13,73,93

14,74,94

15,75,95

16,76,96

17,77,97

18,78,98

19,79,99

Possiamo anche ricreare le liste:

In [16]:
with open('dati.csv','r') as inputfile:
    
    lines = inputfile.readlines()
    
    l1 = []
    l2 = []
    l3 = []
    
    for idx,line in enumerate(lines):
        
        if (idx == 0) : continue
            
        a,b,c = line.split(',')
        
        l1.append(a)
        l2.append(b)
        # Per c dobbiamo togliere il carriage return
        l3.append(c[:-1])

In [17]:
l1

['10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

In [18]:
l2

['70', '71', '72', '73', '74', '75', '76', '77', '78', '79']

In [19]:
l3

['90', '91', '92', '93', '94', '95', '96', '97', '98', '99']